body {
   background-image: url('engineer.PNG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1  {
  color: white;
  text-align: center;
} 
p  {
  color: white;
  text-align: center;
}
}